.h-container{
    justify-content: space-between;
    padding-top:1rem;
    padding-bottom: 1rem;
    color:var(--black);
    background-color:#fcf9ec;
    font-weight: 100;
}
.h-menu{
    gap:2rem;
}
.h-menu>*:hover{
    cursor: pointer;
}
